/* 
#e77423;    brown new
#ce8b35;    brown old
#41c3f1;  blue text
#4ebfe7;   blue shape
*/
@font-face {
    font-family: yekan2;
    src: url('../fonts/yekan-font/Yekan.eot');
    src: url('../fonts/yekan-font/Yekan.eot?#iefix') format('FontName-opentype'),
        url('../fonts/yekan-font/Yekan.woff') format('woff'),
        url('../fonts/yekan-font/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: IRANSans , yekan2 ;
    direction: rtl;
    text-align: right;
    font-size: 14px;
    background-color: #fff;
    margin-top: -20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width:50px;
    background-color:#cedbe8;
}

::-webkit-scrollbar {
    width: 11px;
    background-color: #F5F5F5;
} 
::-webkit-scrollbar-thumb {
    background-color: #a4a4a4;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background-color: #e5e5e5fc;
}






/* HAEDER AND NAV FOR ALL PAGE */
.header-primary {
    padding: 8px 0px;
}
.header-list {
    background-color: #4ebfe7;
    display: flex;
    justify-content: center;
}
.header-list li {
    list-style-type: none;
    display: inline-block;
    margin: 5px 10px;
    padding: 5px 5px;
    color: #fff;
    font-size: 12px;
    border: 2px solid transparent;
    transition: all .5s ease;
}
.header-list li:hover {
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    transition: all .5s ease;
}
.main-section {
    margin-top: -28px;
    border-bottom: 18px solid #e4e4e4;
    padding-bottom: 70px;
}
/*style css link*/
.header-secondary {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.header-secondary div:last-child {
    margin-left: 5%;
}
.header-secondary-list li{
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px;
    padding: 5px 5px;
    font-size: 14px;
    color: #777;
    position: relative;
    transition: all .2s;
}
.header-secondary-list li:hover {
    color: #4ebfe7;
}
.header-secondary-list li:not(:first-child):before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #38c5fb;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.header-secondary-list li:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}
/*end*/

.header-secondary-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 0px;
}
.logo {
    width: 150px;
    height: auto;
}

/*button effect*/
.draw-border {
    box-shadow: inset 0 0 0 3px #ce8b35;
    color: #ce8b35;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    border-radius: 5px;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: #58afd1;
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: #58afd1;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}
.btn-g {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 6px 19px;  
    font-size: 14px;
    font-family: 'IRANSans', 'yekan2';
    font-weight: 500;
}
.btn-g:focus {
    outline: 2px dotted #55d7dc;
}


/*nav style*/
.nav__cont {
    position: fixed;
    width: 38px;
    top: 30vh;
    left: 0px;
    border-radius: 0px 60px 60px 0px;
    height: 245px;
    z-index: 100;
    background-color: #ffffff;
    overflow: hidden;
    transition: width 0.3s ease;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(206 206 206 / 69%);
}
.nav {
    list-style-type: none;
    color: #fff;
    padding: 10px 0px;
}
.nav__items {
    padding-bottom: 10px;
    font-family: IRANSans, yekan2 , sans-serif;
    display: flex;
}
.nav__items a{
    font-size: 0px;
}
.nav__items img {
    width: 35px;
    height: 28px;
    cursor: pointer;
    position: relative;
    padding: 3px;
    margin-bottom: 4px;
}
/* 
.nav__cont:hover {
    width: 70px;
} 
.nav__items:hover a::after{
    opacity: 1;
}
.nav__items a{
    position: relative;
    display: block;
    padding-left: 25px;
    padding-right: 10px;
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-family: IRANSans, yekan2 , sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.nav__items a::after{
    content: "";
    width: 100%;
    height: 100% ;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
    background: linear-gradient( to right, #fc4a1a, #f7b733);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -10;
} */
/*end heder and nav*/
















/*css style home page */
/* .sec1 {
    display: flex;
    width: 90%;
    margin: 0 auto;
} 

.bime-sec {
    flex-grow: 2;
}
.slide-show {
    flex-grow: 1;
    background-color:#38c5fb;
    border-radius: 10px;
}

*/
.sec1 {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
}
.bime-sec {
    width: 650px;
    height: 500px;
}
.slide-show {
    width: 340px;
    height: 500px;
}

/*slideshow */
.slide-show-bg {
    background-color: #38c5fb;
    width: 310px;
    border-radius: 10px;
    height: 470px;
}
.mySlides {
    display: none;
}
.mySlides img {
    vertical-align: middle;
}
.slideshow-container {
    position: relative;
    margin: 0px auto;
    width: 355px;
    height: 400px;
    padding: 20px 0px;
    margin-right: -24px;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #e77423; 
}
.fade {
    animation: fade 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/*end slideshow*/

.bime-sec > h1{
    color: #41c3f1;
    padding: 0px 15px;
    font-size: 40px;
    font-weight: 600;
    font-family: inherit;
    margin: 0px;
}

.bime-sec > h2 {
    color: #ce8b35;
    padding: 10px 15px;
    font-size: 18px;
    font-family: inherit;
    font-weight: 600;
    margin: 0px;
}

.card-pic {
    background-color: #e0effc;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}
.card-pic img {
    width: 60px;
    height: 50px;
    position: absolute;
    right: calc(50% - 32px);
    top: calc(50% - 25px);
    transition: all 0.2s linear;
}
.card {
    display: inline-block;
    width: 120px;
    height: 150px;
    box-shadow: 4px 4px 12px 0 rgb(183 181 178 / 50%), -4px -4px 12px 0 rgb(252 247 247 / 50%);
    padding: 15px 5px;
    border-radius: 10px;
    margin: 15px 8px;
    cursor: pointer;
    transition: all .4s;
    
}
.card:hover {
    background-color: #e0effc;
    transform: translateY(-4px) scale(1.03);
    transition: all .4s;
}

.card h3 {
    color: #777;
    font-size: 12px;
    font-family: inherit;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover h3 {
    color: #2b85d3;
    transform: scale(1.07);
}
.card:hover img {
    width: 66px;
    height: 60px;
    position: absolute;
    right: calc(50% - 33px);
    top: calc(50% - 30px);
    transition: all 0.2s linear;
}
/*end home page */









footer {
    border-top: 18px solid #f1f1f1;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    margin-left: 100px;
}
.footer-col1 {
    display: flex;
    flex-direction: column;
}

.footer-col1 > div > img:not(:last-child) {
    width: 15px;
    height: auto;
    position: relative;
    top: 6px;
    margin: 2px 6px;
}

.footer-col1 > div > img:last-child {
    width: 80px;
    margin: 8px 5px;
}

.footer-col1 > div > span {
    font-family: 'IRANSans', 'yekan2';
    color: #585858;
    font-size: 12px;
}

.footer-col2 > h4 {
    color: #0f7dd0;
    font-family: 'IRANSans', 'yekan2';
    text-align: center;
    margin: 3px 0px;
}

.footer-col2 > div {
    display: flex;
}

.footer-col2-column > ul > li {
    list-style-type: none;
    font-family: 'IRANSans', 'yekan2';
    color: #585858;
    font-size: 12px;
    margin: 5px 0px;
}