.sec-home {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 130rem;

    @include respond(tab-port) {
        width: 95%;
        flex-wrap: wrap;
    }
    @include respond(phone) {
        width: 95%;
    }
    @include respond(big-desktop) {
        max-width: 120rem;
    }
    
    
    &-right {
        width: 65rem;
        height: 50rem;
    }
    &-left {
        width: 34rem;
        height: 50rem;
        @include respond(tab-port) {
            width: 50rem;
        }
         @include respond(phone) {
            display: none;
        }
    
        @include respond(big-desktop) {
            width: 40rem;
        }
    }
}
