.sec-home {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 130rem;

    @include respond(tab-port) {
        width: 95%;
        flex-wrap: wrap;
    }
    @include respond(phone) {
        width: 95%;
    }
    @include respond(big-desktop) {
        max-width: 120rem;
    }
    
    
    &-right {
        width: 65rem;
        min-height: 50rem;
        height: auto;
        @include respond(phone) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &-left {
        width: 34rem;
        height: 50rem;
        @include respond(tab-port) {
            width: 50rem;
        }
         @include respond(phone) {
            display: none;
        }
    
        @include respond(big-desktop) {
            width: 40rem;
        }
    }
}
@include respond(phone) {
    .type-bime {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-home {
        margin: 1.5rem 2.1rem;
    }
}