.sec-home {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
}
.sec-home-1 {
    width: 65rem;
    height: 50rem;
    & > h1{
        color: $color-blue;
        padding: 0 1.5rem;
        font-size: 4rem;
        font-weight: 600;
        font-family: $font-family;
        margin: 0;
    }
    & > h2 {
        color: $color-primary;
        padding: 1rem 1.5rem;
        font-size: 1.8rem;
        font-family: $font-family;
        font-weight: 600;
        margin: 0;
    }
}
.sec-home-2{
    width: 34rem;
    height: 50rem;
}

