.header-primary {
    // padding: .8rem 0;
    @include respond(big-desktop) {
        width: 130rem;
        margin: .9rem auto;
    }
    &-list {
        background-color: $color-blue;
        display: flex;
        justify-content: center;
        & li{
            list-style-type: none;
            display: inline-block;
            margin: .5rem 1rem;
            padding: .5rem;
            color: $color-white;
            font-size: 1.2rem;
            border: .2rem solid transparent;
            transition: all .5s ease;
            @include respond(tab-port) {
                font-size: 1.3rem;
            }
            @include respond(big-desktop) {
                font-size: 1.4rem;  
            }
        }
        & li:hover {
            border: .2rem solid #f1f1f1;
            border-radius: .5rem;
            transition: all .5s ease;
        }
    }
}


.header-secondary {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 112rem;
    position: relative;
    @include respond(tab-port) {
        width: 80%;
    }
    @include respond(big-desktop) {
        width: 116rem;
    }
    & div:last-child{
        margin-left: 5rem ;
    }
    &-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-right: 0;
        & li{
            list-style-type: none;
            display: inline-block;
            margin: 0 1rem;
            padding: .5rem;
            font-size: 1.4rem;
            color: $color-grey-dark-1;
            position: relative;
            transition: all .2s;
            &:not(:first-child):before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0;
                height: .2rem;
                background-color: #38c5fb;
                transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
            }
            &:hover{
                color: $color-blue;
                &::before{
                    left: 0;
                    right: auto;
                    width: 100%;
                }
            }
            
        }
    }
}
.logo{
    width: 15rem;
    height: auto;
}

.icon {
    display: none;
    color: #777;
    font-size: 14px;
    height: 23px;
    padding: 1px 8px;
    border: 1px solid #b4b4b4;
    border-radius: 2px;
}
#logo-resp {
    display: none;
}

.active-height {
    height: 80px !important;
    transition: height .2s;
}
.active-visibility {
    visibility: visible !important;
    opacity: 1 !important;
    transition: opacity 1s ease .7s;
}
@include respond(phone) {
    .header-primary , .topnav li:first-child{
        display: none;
    }
    .topnav li:not(:first-child){
       visibility: hidden;
       opacity: 0;
       transition: opacity 1s ease .7s;
    }
    .icon , #logo-resp{
        display: block;
    }
    .header-secondary {
        display: flex;
        margin-top: 20px;
        margin-bottom: 15px;
        justify-content: space-around;
        width: 100%;
        & div:last-child {
            margin-left: 0;
        }
        &-list {
            height: 0 ;
            transition: height .2s;
            display: flex;
            flex-direction: column;
            position: absolute;
            background: $color-white;
            top: 18px;
            z-index: 9999;
            align-items: flex-start;
            padding: 8px 0 10px 0;
            width: 100%;
            padding-right: 12%;
            transition: all 2s;
        }  
    } 
}