.card-home { 
    display: inline-block;
    width: 13.5rem;
    height: 14.5rem;
    box-shadow: 4px 4px 12px 0 #b7b5b280 , -4px -4px 12px 0 #fcf7f780;
    padding: 1.5rem .5rem;
    border-radius: 1rem;
    margin: 1.5rem .8rem;
    cursor: pointer;
    transition: all .4s;
    &:hover {
        background-color: #e0effc;
        transform: translateY(-.4rem) scale(1.03);
        transition: all .4s;
        & h3 {
            color: $color-blue-dark ;
            transform: scale(1.07);
        }
        & img {
            width: 6.6rem;
            height: 6.6rem;
            position: absolute;
            right: calc(50% - 3.3rem);
            top: calc(50% - 3.3rem);
            transition: all 0.2s linear;
        }
    }
    & h3 {
        color: $color-grey-dark-1;
        font-size: 1.2rem;
        font-family: inherit;
        text-align: center;
        transition: transform 0.2s;
    }
    &-pic {
        background-color: #e0effc;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        & img {
            width: 6rem;
            height: 5rem;
            position: absolute;
            right: calc(50% - 3.2rem);
            top: calc(50% - 2.5rem);
            transition: all 0.2s linear;
        }
    }
}






.card {
    display: inline-block;
    width: 11.3rem;
    height: 7.3rem;
    padding: 1.5rem .5rem;
    border: .1rem solid $color-blue;
    border-radius: 1rem;
    cursor: pointer;
    margin: .7rem 0;
    &:hover { 
        transform: scale(1.03);
        box-shadow: .1rem .1rem .4rem .3rem #cfedfa;
        transition: .18s all ease;
        & h3 {
            color: $color-primary;
        }
    }
    & h3 {
        font-family: $font-family;
        color: $color-grey-dark-2;
        font-size: 1.1rem;
        font-weight: 300;
        text-align: center;
        padding-top: 1.2rem;
    }
    &-pic {
        width: 5rem;
        height: .8rem;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        & img {
            width: 4.6rem;
            height: 5rem;
            position: absolute;
            right: calc(50% - 2.3rem);
            top: calc(50% - 2rem);
        }
    }
    @include respond(phone) {
        margin: 1rem 2px;
    }
}
