.slide-show-bg {
    background-color: #38c5fb;
    width: 310px;
    border-radius: 10px;
    height: 470px;
}
.mySlides {
    display: none;
    & img {
        vertical-align: middle;
    }
}
.slideshow-container {
    position: relative;
    margin: 0px auto;
    width: 355px;
    height: 400px;
    padding: 20px 0px;
    margin-right: -24px;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #e77423; 
}
.fade {
    animation: fade 1.5s;
}
//end






